<div>
  <h1>Dobrošli na Stranicu Svih Kandidata</h1>
  <br />
  <h4>Odaberite Regionalni Centar i Matičnu Sekciju</h4>
  <br />

  <div>
    <table>
      <tr>
        <td class="dropdown">
          <div>
            <button class="dropbtn" onclick="getCenter(); getResults();">
              Regionalni Centri
            </button>
            <div class="dropdown-content" *ngFor="let Center of center">
              <a (click)="showCenter(Center)">{{ Center.nazivRegCen }}</a>
            </div>
          </div>
        </td>
        <td class="dropdown">
          <div>
            <button class="dropbtn" onclick="getDistrict()">
              Matične Sekcije
            </button>
            <div
              class="dropdown-content"
              *ngFor="let District of shownDistricts"
            >
              <a (click)="showDistrict(District)">{{ District.nazivMatSek }}</a>
            </div>
          </div>
        </td>
        <td>
          <div><button (click)="goBack()">NAZAD</button></div>
        </td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <th>Regionalni Centar</th>
        <th>Matična Sekcija</th>
        <th>Broj Licence</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Broj Puta Kandidovan</th>
      </tr>
      <tr *ngFor="let Members of shownCandidates" class="tableColor">
        <td>
          {{ Members.nazivRegCen }}
        </td>
        <td>
          {{ Members.nazivMatSek }}
        </td>
        <td>
          {{ Members.idCla }}
        </td>
        <td>
          {{ Members.imeCla }}
        </td>
        <td>
          {{ Members.prezimeCla }}
        </td>
        <td>
          {{ Members.brojPutaKandidovan }}
        </td>
      </tr>
      <tr class="Bottom"></tr>
      <br />
      <tr>
        <th colspan="12" class="title">Svi Kandidati</th>
      </tr>
      <tr>
        <th>Regionalni Centar</th>
        <th>Matična Sekcija</th>
        <th>Broj Licence</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Broj Puta Kandidovan</th>
      </tr>
      <tr *ngFor="let Members of members">
        <td>
          {{ Members.nazivRegCen }}
        </td>
        <td>
          {{ Members.nazivMatSek }}
        </td>
        <td>
          {{ Members.idCla }}
        </td>
        <td>
          {{ Members.imeCla }}
        </td>
        <td>
          {{ Members.prezimeCla }}
        </td>
        <td>
          {{ Members.brojPutaKandidovan }}
        </td>
      </tr>
    </table>
  </div>
</div>
