.lists{

padding: 5px;
}
.listButton{
    background-color: rgb(144, 238, 144);
}
.naslov{
    font-weight: bold;
    background-color: rgb(11, 127, 166);
    padding: auto;
}
.phase{
    border: 3px rgb(135, 48, 255);
    background: #3a921c;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px gray;
    padding-top: 100px;
}
.text{
font-weight: bold;
font-style: oblique;
color: rgb(207, 253, 0);
}
.descript{
    text-align: left;
    font-weight: bolder;
}