<div class="bodyList">
    <div class="content">
      <div>
        <img src="/assets/ElectionLogo.png">
      </div>
      <br>
      <h3>Dobrodošli na glasanje</h3>
      <p><b><u>Pre nego što pristupite glasanju, molimo Vas da detaljno pročitate pravila glasanja</u></b></p>
      <ul style="font-weight: 500;">
        <li>
          Samo registrovani članovi imaju pravo glasa.
        </li>
        <li>
          Prilikom procesa kandidovanja možete kandidovati <u>samo članove koji pripadaju istoj sekciji kao i Vi.</u>
        </li>
        <li>
          Prilikom glasanja, članovi mogu glasati za bilo kog kandidata na izbornoj listi, bez obzira na pripadnost
          sekciji.
        </li>
        <li>
          Svaki član ima mogućnost glasanja za najmanje 1, a najviše 5 kandidata, i u procesu kandidovanja i u procesu
          glasanja.
        </li>
        <li>
          Nakon isteka perioda za kandidiovanje i glasanje biće onemogućen pristup stranicama za glasanje.
        </li>
        <li>
          Klikom na dugme ispod bićete preusmereni na stranicu za logovanje. Pažljivo ukucajte vaše kredencijale!
        </li>
        <li>
          Nakon uspešnog logovanja bićete preusmereni na stranicu za kandidovanje ili glasanje u zavisnosti od statusa izbora.
        </li>
        <li style="color: red;">
          <b><u>Možete samo jednom da iskoristite pravo kandidovanja i glasanja, zato pametno birajte svoje
              predstavnike!</u></b>
        </li>
      </ul>
      <b>
        <p>Srećno!</p>
      </b>
      <button (click)="goToLogin()">Pročitao/la sam pravila.</button>
    </div>
  </div>