<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-body">
      <div >
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      <h4>{{ modalText }}</h4>
    </div>
    <div class="modal-actions">
      <table>
        <td><button (click)="confirm()">Potvrdi</button></td>
        <td><button (click)="cancel()">Ponisti</button></td>
      </table>
    </div>
  </div>
</div> 


